body {
    width: 90%;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    
}
#content {overflow: auto; }
#nav, #feature, #footer {
    margin: 1%;
}

.column1, .column2, .column3 {
    width: 31.3%;
    float: left;
    margin: 0.5%;
}

.column1 {
    font-size: 24;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 200;
    
    
}


.column2  {
    
}

.column3 {margin-right: 0%; }

li {
    display: inline;
    padding: 0.5em;
}

#nav, #footer {
    background-color: rgba(54, 110, 237, 0.54);   /* originally was #efefef */
    padding: 0.5em 0;
    text-align: center;
    font-size: 16;
}

.article {
    height: 10em;
    margin-bottom: 1em;
    background-color: #efefef;
}

#feature {
    height: 10em;
    margin-bottom: 0.6em;
    background-color: rgba(166, 148, 226, 0.61);
    
}


/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #000;
    color: #fff;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
*/


/*-------Reusable throughout--------

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}
*/
/* ----- HEADING sections-----

h1,
h2 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #867;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}
*/